body {
  background: blanchedalmond;
}
h1{
  text-align: center;
  padding: 10px;
  font-size: 50px;
  margin: auto;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; 
}
.row
{
   min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.apple{
border: 2px dotted purple;
  margin: 30px;
  min-height: 25vh;
}
.balooga{
  border: 2px dotted purple;
  flex:60%;
  margin: 30px;
  min-height: 60vh;
}
.cat{
   border: 2px dotted purple;
  flex: 20%;
  margin: 30px;
}